*.log
.DS_Store
.gradle
.classpath
.project
.settings
.idea
.vertx
.yardoc
.yardopts
bin
build
logs
target
out
test-output
test-results
test-tmp
*.iml
*.class
utopia/firstvertxapp/src/main/resources/
utopia/testguava/src/main/
utopia/testkafka/src/main/java/
utopia/teststation/src/main/java/
utopia/testvertx/src/main/
